{% raw %}{{ with secret "hashistack/pki_int_consul/issue/consul-home" "common_name=server.home.consul" "ttl={% endraw %}{{ consul_template_cert_ttl }}{% raw %}" "ip_sans={% endraw %}{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}{% raw %}" "alt_names=consul.service.consul,consul.service.home.consul"}}{{ .Data.private_key }}{{ end }}{% endraw %}
