[Unit]
Description="Vault-Init For Unseal and Init Vault"
Documentation=https://github.com/caquino/vault-init-aws
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/usr/bin/vault-init

[Service]
Type=simple
User=vault
Group=vault
ExecStart=/usr/bin/vault-init
Restart=on-failure
LimitNOFILE=1024
EnvironmentFile=/etc/vault-init/variables

[Install]
WantedBy=multi-user.target

